.contact-container {
  position: relative;
  height: 66vh;
  width: 100%;
}

.contact-heading {
  color: rgb(29, 255, 236);
  margin-bottom: 2%;
  font-size: 3rem;
  font-weight: 500;
  margin-left: 15%;
}
.contact-heading::after {
  content: "";
  width: 66%;
  height: 1px;
  background-color: rgba(29, 255, 236, 0.541);
  display: inline-block;
  position: relative;
  bottom: 9px;
  margin-left: 1%;
}
.background_image {
  width: 75%;
  margin-left: 11%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 2.5rem;
  height: 100%;
}
.background_image img {
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  margin-top: -2rem;
}
.contact-intro {
  position: absolute;
  bottom: 35%;
  width: 100%;
  word-wrap: break-word;
  /* border: 2px solid red; */
}
.contact-intro h3 {
  color: white;
  text-align: center;
  margin: 1rem 0;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.contact-social-icon {
  position: absolute;
  bottom: 15%;
  left: 38%;
}
.contact-social-icon .contact-icons {
  font-size: 2.5rem;
  margin: 0 1rem;
  color: rgb(147, 188, 194);
}
.contact-icons:hover {
  transform: scale(2);
  color: rgb(23, 212, 124);
  transition: all 0.3s ease-in-out;
}

footer {
  height: 4rem;
  text-align: center;
  background-color: rgba(1, 18, 32, 0.37);
  z-index: 10;
  padding-top: 1.3rem;
  position: absolute;
  width: 100%;
}
footer h3 {
  color: white;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: -0.5rem;
}
footer span {
  display: inline-block;
  margin: 0 0.5rem 0 0.5rem;
  color: red;
  position: relative;
  top: 4px;
}
footer span :first-child {
  padding-top: 0.2rem;
  font-size: 1.4rem;
}
@media screen and (max-width: 870px) {
  .contact-container {
    height: 89vh;
    width: 100%;
    margin-left: 0.5rem;
  }
  .contact-heading::after {
    display: none;
  }
  .contact-heading {
    width: 90%;
    margin-left: 5%;
    text-align: center;
  }
  .background_image {
    display: none;
  }
  .contact-intro {
    width: 100%;
    bottom: 34%;
  }
  .contact-social-icon {
    display: flex;
    width: 100%;
    left: 2%;
    justify-content: space-evenly;
    bottom: 15%;
  }
  .contact-intro h3 {
    text-align: center;
    padding-left: 0.5rem;
    border: 0.5px solid cyan;
    border-radius: 5px;
  }
  footer {
    bottom: 0;
    width: 100%;
  }
}
@media screen and (min-width: 430px) and (max-width: 870px) {
  .contact-container {
    margin-left: 0rem;
  }
  .contact-intro {
    top: 15%;
    padding: 0 0.5rem;
  }
  .contact-social-icon {
    left: 0%;
  }
}
