.project-container {
}
.project-heading {
  color: rgb(29, 255, 236);
  margin-bottom: 3%;
  font-size: 3rem;
  font-weight: 500;
  margin-left: 15%;
  margin-top: 2%;
}
.project-heading::after {
  content: "";
  width: 66%;
  height: 1px;
  background-color: rgba(29, 255, 236, 0.541);
  display: inline-block;
  position: relative;
  bottom: 9px;
  margin-left: 1%;
}

.project-card-container {
  margin-bottom: 2rem;
}
.project-card {
  width: 70%;
  margin-left: 15%;
  height: 300px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  border-radius: 5px;
}
.project-image img {
  width: 100%;
  border-radius: 5px 0 0 5px;
  height: 100%;
}
.project-image {
  background-color: rgba(21, 71, 80, 0.158);
  background-size: cover;
  background-repeat: no-repeat;
}
.about-project {
  background-color: rgb(29, 19, 42);
  background-color: rgba(21, 71, 80, 0.514);
}
.project-title {
  font-size: 1.8rem;
  margin: 1rem 0;
  color: rgb(241, 240, 243);
  text-align: right;
  padding-right: 2.3rem;
}
.project-title h3 {
  font-weight: 500;
}
.project-description p {
  color: white;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 2.3rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.tech-used {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 2rem;
  /* padding-left: 100px; */
  padding-right: 1.5rem;
  /* border: yellow 1px solid; */
}
.tech-used .tech-name {
  background-color: rgba(198, 153, 252, 0.063);
  color: white;
  font-size: 1rem;
  border: 2px solid rgb(79, 141, 211);
  padding: 0.4rem;
  border-radius: 5px;
  margin: 0 0.5rem 0.5rem 0.5rem;
}
.projects-links {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
}
.projects-links a {
  font-size: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
}
.projects-links a:hover {
  color: blueviolet;
}
@media screen and (max-width: 870px) {
  .project-heading {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .project-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.8fr;
    height: 430px;
    width: 90%;
    margin-left: 7%;
  }
  .project-heading::after {
    display: none;
  }
  h1.project-heading {
    margin-left: 0;
    text-align: center;
  }
  .project-image img {
    border-radius: 5px 5px 0 0;
    /* padding: 2px; */
  }
  .projects-links {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 430px) and (max-width: 870px) {
  .project-card {
    height: 100%;
    margin-left: 5%;
  }
}
