.skills {
  background-color: black;
  min-height: 100vh;
}
.skills_heading h1 {
  color: rgb(29, 255, 236);
  margin-bottom: 2%;
  font-size: 3rem;
  font-weight: 500;
  margin-left: 15%;
}
.skills_heading h1::after {
  content: "";
  width: 72%;
  height: 1px;
  background-color: rgba(29, 255, 236, 0.541);
  display: inline-block;
  position: relative;
  bottom: 9px;
  margin-left: 2%;
}

.skill_card {
  margin-bottom: 1.5rem;
  padding: 1.4rem 1.6rem;
  border-radius: 5px;
  background-color: rgba(21, 71, 80, 0.274);
  z-index: 1;
  border-left: 6px solid rgba(5, 84, 100, 0.808);
  width: 70%;
  margin-left: 15%;
  padding-left: 3rem;
}
.card_heading {
  display: block;
  color: rgba(16, 235, 133, 0.959);
  font-size: 1.25rem;
  margin-top: -0.5rem;
  text-transform: uppercase;
}
.logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 50px;
  margin-top: 1.4rem;
}
.logo {
  display: flex;
  box-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.logo1 {
  font-size: 1.6rem;
  color: rgba(0, 255, 255, 0.644);
  margin-right: 10px;
}
.logo1_img img {
  width: 2rem;
  height: 2rem;
}
.text {
  font-size: 1.14rem;
  color: whitesmoke;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 870px) {
  .skills_heading h1 {
    text-align: center;
  }
  .skills_heading h1::after {
    display: none;
  }
  .skill_card {
    width: 90%;
    margin-left: 5%;
  }
  .skills_heading h1 {
    margin-left: 0;
  }
  .logos {
    grid-template-columns: repeat(2, 1fr);
  }
}
